global:
  edition: ce

  hosts:
    domain: gitlab.local
    https: false

  ingress:
    enabled: false

  gitlab:
    webservice:
      replicas: 1
      resources:
        requests:
          cpu: 100m
          memory: 512Mi
        limits:
          cpu: 500m
          memory: 1Gi

    sidekiq:
      replicas: 1
      resources:
        requests:
          cpu: 100m
          memory: 512Mi
        limits:
          cpu: 500m
          memory: 1Gi

  minio:
    enabled: false

  redis:
    master:
      resources:
        requests:
          memory: 256Mi
        limits:
          memory: 512Mi

postgresql:
  install: true
  resources:
    requests:
      memory: 512Mi
    limits:
      memory: 1Gi

nginx-ingress:
  enabled: false

certmanager:
  install: false

prometheus:
  install: false

gitlab-runner:
  install: false
